<ion-header>
  <ion-toolbar>
    <ion-title>pou</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/home']"> Atras </ion-button>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Pou.png">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Pou </ion-card-title>
      </ion-card-header>
    
    
      <ion-card-content>
        Version: 3.5.2
        Plataforma: Android, Ios, Windows
        Tamaño: 50 mb
      </ion-card-content>
      <ion-button [routerLink]="['pou']"> Descargar </ion-button>
    </ion-card>

</ion-content>
