<ion-header>
  <ion-toolbar>
    <ion-title>free</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/home']"> Atras </ion-button>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://sm.ign.com/t/ign_latam/screenshot/default/free-fire_6a9v.1280.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Free Fire </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Version: 6.3.6
      Plataformas: Android 
      Tamaño: 5 gb
    </ion-card-content>
    <ion-button [routerLink]="['free']"> Descargar </ion-button>
  </ion-card>

</ion-content>
