<ion-header>
  <ion-toolbar>
    <ion-title>left4dead2</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/home']"> Atras </ion-button>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://depor.com/resizer/fQzmi5xipslm-EaJADorylg0s50=/980x528/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/XSGPIAL4CFADBMIL4LMTTVGDZI.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Left 4 Dead 2 </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Version: 2.0
      Plataforma: Windows 
      Tamaño: 10 gb
    </ion-card-content>
    <ion-button [routerLink]="['left4dead2']"> Descargar </ion-button>
  </ion-card>

</ion-content>
