<ion-header>

  <ion-toolbar>
    <ion-title>shooters</ion-title>
  </ion-toolbar>

  <ion-button [routerLink]="['/home']"> Atras </ion-button>
</ion-header>

<ion-content>

  <ion-card>
    <img src="https://sm.ign.com/t/ign_latam/screenshot/default/free-fire_6a9v.1280.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Free Fire </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Garena Free Fire es un juego de acción y aventura de tipo battle royale que se juega en tercera persona. El juego consiste en que hasta 50 jugadores caen desde un paracaídas en una isla en busca de armas y equipo para matar a los demás jugadores.
    </ion-card-content>
    <ion-button [routerLink]="['free']"> Ver más </ion-button>
  </ion-card>
  <ion-card>
    <img src="https://1.bp.blogspot.com/-BWtUsQfLjG4/Xw75nbEbTpI/AAAAAAAAAWw/GdWwoIezwao0gm6j35B3TucZEzchkygsACLcBGAsYHQ/s460/header.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Counter Strike </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Counter-Strike es un videojuego de disparos en primera persona multijugador (ya sea en LAN o en línea) desarrollado por Valve para Microsoft Windows. Es una modificación completa del juego Half-Life, realizada por Minh Le y Jess Cliffe, quienes lanzaron la primera versión el 18 de junio de 1999.
    </ion-card-content>
    <ion-button [routerLink]="['counter']"> Ver más </ion-button>
  </ion-card>

  <ion-card>
    <img src="https://i.ytimg.com/vi/uSJr1GzyVj8/maxresdefault.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Left 4 Dead </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Left 4 Dead (abreviado como L4D) es un videojuego cooperativo multijugador de disparos en primera persona de acción y terror. ... Situada posteriormente a una pandemia apocalíptica, la trama del videojuego enfrenta a cuatro supervivientes, Bill, Francis, Louis y Zoey, contra hordas de infectados.
    </ion-card-content>
    <ion-button [routerLink]="['left4dead']"> Ver más </ion-button>
  </ion-card>

  <ion-card>
    <img src="https://depor.com/resizer/fQzmi5xipslm-EaJADorylg0s50=/980x528/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/XSGPIAL4CFADBMIL4LMTTVGDZI.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Left 4 Dead 2 </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      'Left 4 Dead 2' es la continuación de la saga de zombies desarrollada por Valve. Se trata de un shooter en primera persona, cooperativo, con tintes de survival horror en el que los jugadores tendrán que avanzar por los diferentes escenarios tratando de sobrevivir a diversas oleadas de zombies.
    </ion-card-content>
    <ion-button [routerLink]="['left4dead2']"> Ver más </ion-button>
  </ion-card>

</ion-content>
