<ion-header>
  <ion-toolbar>
    <ion-title>counter</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/home']"> Atras </ion-button>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://1.bp.blogspot.com/-BWtUsQfLjG4/Xw75nbEbTpI/AAAAAAAAAWw/GdWwoIezwao0gm6j35B3TucZEzchkygsACLcBGAsYHQ/s460/header.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Counter Strike </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Version: 12.4
      Plataforma: Windows 
      Tamaño: 5 gb

    </ion-card-content>
    <ion-button [routerLink]="['counter']"> Descargar </ion-button>
  </ion-card>

</ion-content>
