<ion-header>
  <ion-toolbar>
    <ion-title>minecraft</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/home']"> Atras </ion-button>
</ion-header>

<ion-content>
  
  <ion-card>
    <img src="https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_Minecraft.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Minecraft </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Version: 0.14.1
      Plataforma: Windows, Anadroid, iOS
      Tamaño: 5 gb
    </ion-card-content>
    <ion-button [routerLink]="['minecraft']"> Descargar </ion-button>
  </ion-card>

</ion-content>
