<ion-header>
  <ion-toolbar>
    <ion-title>valorant</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/home']"> Atras </ion-button>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://i.blogs.es/ea7e11/valorantlaunch/840_560.jpeg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Valorant </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Version: 4.2
      Plataforma: Windows 
      Tamaño: 15 gb
    </ion-card-content>
    <ion-button [routerLink]="['valorant']"> Descargar </ion-button>
  </ion-card>

</ion-content>
