<ion-header>
  <ion-toolbar>
    <ion-title>left4dead</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/home']"> Atras </ion-button>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://i.ytimg.com/vi/uSJr1GzyVj8/maxresdefault.jpg">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Left 4 Dead </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Version: 1.0
      Plataforma: Windows 
      Tamaño: 6 gb
    </ion-card-content>
    <ion-button [routerLink]="['left4dead']"> Descargar </ion-button>
  </ion-card>

</ion-content>
